body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.icecreamAttr {
  background-color: skyblue;
  width: 120px;
  color:blue;
}
#icecreamForm{
  
  font-family: 'Courier New', Courier, monospace;
}
h1{
  font-style: italic;
  color:purple;
}